<a href="https://colab.research.google.com/github/Gauravkumarlokhande/My-Projects/blob/main/Synthetic_data_with_Gan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import numpy as np
import pandas as pd

In [31]:
!pip install ctgan

Requirement already satisfied: ctgan in /usr/local/lib/python3.7/dist-packages (0.5.1)
Requirement already satisfied: pandas<2,>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.3.5)
Requirement already satisfied: torchvision<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (0.12.0+cu113)
Requirement already satisfied: packaging<22,>=20 in /usr/local/lib/python3.7/dist-packages (from ctgan) (21.3)
Requirement already satisfied: rdt<0.7,>=0.6.2 in /usr/local/lib/python3.7/dist-packages (from ctgan) (0.6.4)
Requirement already satisfied: scikit-learn<2,>=0.24 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.0.2)
Requirement already satisfied: torch<2,>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.11.0+cu113)
Requirement already satisfied: numpy<2,>=1.20.0 in /usr/local/lib/python3.7/dist-packages (from ctgan) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging<22,>=20->ctgan) (3.0.8)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas<2,>=1.1.3->ctgan) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas<2,>=1.1.3->ctgan) (1.15.0)
Requirement already satisfied: psutil<6,>=5.7 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->ctgan) (5.9.0)
Requirement already satisfied: scipy<1.8,>=1.5.4 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->ctgan) (1.7.3)
Requirement already satisfied: pyyaml<6,>=5.4.1 in /usr/local/lib/python3.7/dist-packages (from rdt<0.7,>=0.6.2->ctgan) (5.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<2,>=0.24->ctgan) (1.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch<2,>=1.8.0->ctgan) (4.2.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (2.23.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision<1,>=0.9.0->ctgan) (7.1.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision<1,>=0.9.0->ctgan) (3.0.4)

In [32]:
!pip install table_evaluator

Requirement already satisfied: table_evaluator in /usr/local/lib/python3.7/dist-packages (1.4.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.0.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (3.2.2)
Requirement already satisfied: dython==0.5.1 in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (0.5.1)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (5.9.0)
Requirement already satisfied: seaborn<=0.11.1 in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (0.11.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.3.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (4.64.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from table_evaluator) (1.7.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->table_evaluator) (3.0.8)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->table_evaluator) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->table_evaluator) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->table_evaluator) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->table_evaluator) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->table_evaluator) (1.1.0)

In [33]:
import pandas as pd
real_data = pd.read_excel('/content/drive/MyDrive/demo.xlsx')
print(real_data)

   Industry SubIndustry                     Position  YrsExp   Proficiency
0         A          A1              ACCOUNT_MANAGER       5        EXPERT
1         A          A1               OFFICE_MANAGER       8        EXPERT
2         A          A1         OFFICE_ADMINISTRATOR       2      BEGINNER
3         A          A1              SENIOR_DIRECTOR      20        EXPERT
4         A          A1               POLICY_ANALYST      16  INTERMEDIATE
..      ...         ...                          ...     ...           ...
91        C          C3   HUMAN_RESOURCES_GENERALIST      10        EXPERT
92        C          C3   EMPLOYEE_RELATIONS_MANAGER      20  INTERMEDIATE
93        C          C3  HUMAN_RESOURCES_COORDINATOR      10        EXPERT
94        C          C3             BUSINESS_ANALYST      20        EXPERT
95        C          C3        CAPTIVE_ADMINISTRATOR      10  INTERMEDIATE

[96 rows x 5 columns]

In [34]:
real_data['SubIndustry'].unique()

array(['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'C1', 'C2', 'C3'], dtype=object)

In [35]:
real_data['Industry'].unique()

array(['A', 'B', 'C'], dtype=object)

In [36]:
count_list=[]
for i in real_data['Industry'].unique():
  count_list.append(real_data.loc[real_data['Industry']==i])

In [37]:
from ctgan import CTGANSynthesizer

# Identifies all the discrete columns

discrete_columns = [
    'Industry',
    'SubIndustry',
    'Position',
    'YrsExp',
    'Proficiency'
]

# Initiates the CTGANSynthesizer and call its fit method to pass in the table
ctgan = CTGANSynthesizer(epochs=10)
sample_list=[]
for i in count_list:
  ctgan.fit(i, discrete_columns)
  sample_list.append(ctgan.sample(1000))

In [38]:
for i in sample_list:
  data_main=real_data.append(i)
data_main.head(100)

,Industry,SubIndustry,Position,YrsExp,Proficiency
0,A,A1,ACCOUNT_MANAGER,5,EXPERT
1,A,A1,OFFICE_MANAGER,8,EXPERT
2,A,A1,OFFICE_ADMINISTRATOR,2,BEGINNER
3,A,A1,SENIOR_DIRECTOR,20,EXPERT
4,A,A1,POLICY_ANALYST,16,INTERMEDIATE
...,...,...,...,...,...
95,C,C3,CAPTIVE_ADMINISTRATOR,10,INTERMEDIATE
0,C,C1,PROFESSIONAL_DEVELOPMENT_MANAGER,10,EXPERT
1,C,C2,INSTRUCTIONAL_DESIGNER,13,INTERMEDIATE
2,C,C2,AUDITOR,13,EXPERT
3,C,C1,EMPLOYEE_RELATIONS_SPECIALIST,13,EXPERT

In [39]:
data_main['Industry'].unique()

array(['A', 'B', 'C'], dtype=object)